ENV=development
APP_NAME=go base service
PORT=8080
LOG_LEVEL=debug
JWT_SECRET=change-me

DB_USER=base
DB_PASS=base_password
DB_HOST=localhost
DB_PORT=5435
DB_NAME=base
DB_SSL_MODE=disable

ALLOW_HOSTS=*
